<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Masinlar</title>
<style type="text/css">table{
width:100%;
border:1px solid black;
}
tg,td{
border:1px solid black;
}

</style>
</head>
<body>
<a th:href="@{/}">Esas sehife</a>
<h1>Masinlar</h1>
<hr>
<table>
<thead>
<tr>
<th>Nomre</th>
<th>Suret</th>
<th>Marka</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td><td>220</td><td>BMW</td>
</tr>
<tr>
<td>2</td><td>300</td><td>KIA</td>
</tr>
<tr>
<td>3</td><td>500</td><td>FORD</td>
</tr>
</tbody>

</table>
</body>
</html>