<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>Masinlar</title>
<style type="text/css">table{
width:100%;
border:1px solid black;
}
tg,td{
border:1px solid black;
}

</style>
</head>
<body>
<a th:href="@{/}">Esas sehife</a>
<h1>Masinlar</h1>
<hr>
<table>
<thead>
<tr>
<th>Nomre</th>
<th>Suret</th>
<th>Marka</th>
</tr>
</thead>
<tbody>
<tr th:each="car : ${cars}">
<td th:text="${car.id">
<td th:text="${car.speed">
<td th:text="${car.brand]">
</tr>
</tbody>

</table>
</body>
</html>